{% extends 'base.html.twig' %}

{% block title %}Dashboard | Show Time{% endblock %}

{% block body %}
    <div class="flex min-h-screen bg-background text-foreground">
        <!-- Sidebar -->
        <div {{ react_component('AppSidebar') }}></div>

        <!-- Main content -->
        <main class="flex-1 space-y-6">
            <div class="sticky top-0 z-10 bg-card px-4 py-4 flex justify-between items-center shadow-lg">
                <h1 class="text-3xl font-bold tracking-tight">Dashboard </h1>
            </div>

            <div class="px-6">

                <div class="py-6" {{ react_component('DashboardHero', summary) }} ></div>

                <div class="py-6" {{ react_component('DashboardAnalytics', analytics) }} ></div>

                <div class="py-6" {{ react_component('UserDemographics') }} ></div>

                <div class="py-6" {{ react_component('UserFeedback') }} ></div>

            </div>
        </main>
    </div>
{% endblock %}
